[Unit]
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/root/hcloud-okd-setup.git/fix-selinux/run-on-boot

[Install]
WantedBy=multi-user.target
